<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>redact</title>
</head>
<body>

<div class="container">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Guest Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/product/home">Message List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/product">Add Message</a>
        </li>

        <li class="nav-item">
            <div th:if="${isAuthorized != null}">
                <a class="nav-link" href="/logout">log out</a>
            </div>
            <div th:unless="${isAuthorized != null}"><a class="nav-link" href="/login">Sign in</a></div>
        </li>
    </ul>
    <form action="/product" method="post" enctype="multipart/form-data">
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">name</span>
            <input name="name" type="text" class="form-control" placeholder="name" aria-label="name" aria-describedby="addon-wrapping">
            <input name="price" type="text" class="form-control" placeholder="price" aria-label="price" aria-describedby="addon-wrapping">
            <div class="form-group">
                <div class="custom-file">
                    <input class="btn border border-primary" type="file" name="file" id="customFile"/>
                    <label class="custom-file-label" for="customFile"></label>
                </div>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button class="btn btn-outline-primary" type="submit">Submit</button>
        </div>
    </form>
    <form class="my-2" action="/product" method="get">
        <div class="input-group flex-nowrap">
            <input name="filter" type="text" class="form-control" placeholder="search by name" aria-label="find" aria-describedby="addon-wrapping">
            <button class="btn btn-outline-primary" type="submit">find</button>
        </div>
    </form>
        <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 10 }'>
            <div th:each="product : ${prod}">
                <div class="grid-item border me-2 my-2" style="width: 18rem;">
                    <div th:if="${product.filename == null}"></div>
                    <div th:unless="${product.filename == null}">
                        <img th:src="@{'/img/'+${product.filename}}" class="card-img-top"/>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title" th:text="${product.name}"></h4>
                        <p th:text="'price: '+ ${product.price} + '$'"></p>
                        <a href="#" th:text="'seller: ' + ${product.seller.username}"></a>
                        <div class="btn-group" role="group">
                            <a class="btn btn-outline-primary" th:href="@{'/product/update?id='+${product.id}}">edit</a>
                            <a class="btn btn-outline-primary" th:href="@{'/product/delete?id='+${product.id}}">delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</body>
</html>